*:not(.v-list *, .v-expansion-panels *, .v-input *, .v-btn, .v-btn *) {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.v-window-item {
  transition: none !important;
}
